# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER= <phoneNO>

# Sarvam AI
SARVAM_API_KEY=your_sarvam_api_key

# Public Webhook 
PUBLIC_BASE_URL= <url>